$black: #292929;
$gray: rgba(191,191,191,0.6);
$lineColor:rgba(255,255,255,0.2);

@mixin transition ($property:all , $duration:0.5s, $function:ease , $delay:0s )  {
    transition: $property $duration $function $delay;
    -webkit-transition: $property $duration $function $delay;
    -moz-transition: $property $duration $function $delay;
    -o-transition: $property $duration $function $delay;
    -ms-transition: $property $duration $function $delay;
}