@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #d8d8d8;
}

body,
html {
  overflow: hidden;
  margin: 0;
}

body,
html,
.wrapper,
.container {
  width: 100%;
  height: 100%;
}

.container {
  border: 1px solid #f00;
  position: absolute;
  margin: 1rem;
}

.container:hover {
  background: #ffffff;
}

footer,
header {
  width: 100%;
  position: absolute;
  z-index: 1000;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

.footerDiv {
  position: absolute;
  height: 10px;
  bottom: 0;
  left: 0;
  width: calc(100% - 290px);
  margin: 0 auto;
  right: 0;
  background: #292929;
}

.biseau {
  position: absolute;
  z-index: 10;
  width: 258px;
  height: 20px;
  top: 20px;
  left: 50%;
  margin-left: -129px;
  background: #292929;
}

.biseau:after, .biseau:before {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.biseau:before {
  left: -20px;
  border-width: 0 20px 20px 0;
  border-color: transparent #292929 transparent transparent;
}

.biseau:after {
  right: -20px;
  border-width: 0 0 20px 20px;
  border-color: transparent transparent transparent #292929;
}

.btn {
  /*--- 變數 ---*/
  /*-----------*/
  width: 8rem;
  background: #292929;
  color: #fff;
  display: inline-block;
  line-height: 20px;
  padding: 10px;
}

.btn.leftTop:after {
  content: '';
  top: 0;
  right: auto;
  bottom: auto;
  left: 8rem;
  border-width: 0 0 40px 40px;
  border-color: transparent transparent transparent #292929;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.btn.rightTop:before {
  content: '';
  top: 0;
  right: 8rem;
  bottom: auto;
  left: auto;
  border-width: 0 40px 40px 0;
  border-color: transparent #292929 transparent transparent;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.btn.leftBottom:after {
  content: '';
  top: auto;
  right: auto;
  bottom: 0;
  left: 8rem;
  border-width: 0 40px 40px 0;
  border-color: transparent transparent #292929 transparent;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.btn.rightBottom:before {
  content: '';
  top: auto;
  right: 8rem;
  bottom: 0;
  left: auto;
  border-width: 40px 40px 0 0;
  border-color: transparent #292929 transparent transparent;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.icon {
  display: inline-block;
}

.right {
  float: right;
}

.adj {
  mix-blend-mode: difference;
  /*    background-image: linear-gradient(149deg, #cacaca, #a4a4a4 29%, #4a3c3c);*/
  background-image: linear-gradient(1234deg, #ffffff45, #90989a 29%, #000000);
  width: 100%;
  height: 100%;
  /*    background: red;*/
  position: relative;
  z-index: 2;
}

.bgRed {
  background-image: radial-gradient(circle at 20% -50%, #6d1717, #0b524c 10%, #000000);
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
}

.logo {
  background: url("img/logo.svg") no-repeat;
  background-size: 100%;
  width: 14rem;
  height: 5rem;
  mix-blend-mode: difference;
  position: absolute;
  top: calc(50% - 5rem);
  left: calc(50% - 5rem);
  z-index: 100;
}

.logoImg {
  position: relative;
  margin: 20% auto;
  display: block;
  z-index: 100;
  width: 18%;
  mix-blend-mode: difference;
}

.test {
  position: absolute;
  width: 100%;
}

.moon {
  background: url("img/moon.png") no-repeat;
  background-size: contain;
  width: 100%;
  height: 60rem;
  background-blend-mode: difference;
  position: absolute;
  z-index: 1;
  top: -30%;
  left: 20%;
}

.wing {
  background: url("img/wing.png") no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 3;
  width: 100%;
  -webkit-transform: rotateZ(-10deg);
          transform: rotateZ(-10deg);
  width: 100%;
  height: 65rem;
  right: -50%;
}

.video:before {
  position: absolute;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  content: "";
  clear: both;
  display: block;
  background: url("img/screen.png") center center repeat;
  -ms-background-size: 3px 3px;
  background-size: 3px 3px;
  z-index: 3;
}
/*# sourceMappingURL=style.css.map */